body{
    background-image: linear-gradient(to bottom, #fdd100, #ff952b, #ff5a55, #e32d78, #a22890, #782a8d, #4b2a86, #041f5f, #001653, #001149, #010d41, #030125);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}

.container-fluid{
    height: 1400px;
}



.col-4.text-light.p-3{
    background-color: rgba(49, 49, 49, 0.6);
    border-radius: 10px;
}