    html, body{
        scroll-behavior: smooth;
        height: 100%;
    }

    .floating_parallax{
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }

    .floating_parallax .floating_textbox{
        position: absolute;
        text-align: center;
        font-size: 10vh;
        font-weight: bold;
        background-color: white;
        color: black;
        text-transform: uppercase;
        padding: 20px;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: screen;
    }

    .between_paragraph, .angled{
        padding: 20px;
        position: relative;
        z-index: 1;
    }
    .angled::after {
        background: inherit;
        bottom: 0;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(-2deg);
        transform-origin: 100%;
        z-index: -1;
    }
    .angled::before {
        background: inherit;
        top: 0;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(1.5deg);
        transform-origin: 100%;
        z-index: -1;
    }

    .angle2::before{
        background: inherit;
        top: 0;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(1.5deg);
        transform-origin: 100%;
        z-index: -1;
    }

    .carousel.slide{
        height: 500px;
    }

    .carousel-inner img{
        height: 500px;
        width: 100%;
        object-fit: cover;
        
    }

    .carousel-caption{
        right:0;
        left: 0;
        bottom: 0;
        padding: 50px 0;
       width: 100%;
        background: #444;
    }

    #jumpTopBtn{
        height: 64px;
        width: 64px;
        margin: 20px;
        text-align: center;
        border:none;
        border-radius: 50%;
        box-shadow: 0 6px #666;
        position: fixed;
        bottom: 0;
        right: 0;
        display: none;
        z-index: 10;
        cursor: pointer;
        animation-name: fadeinBtn;
        animation-duration: 1s;
        background-image: linear-gradient(rgb(251, 118, 173),rgb(93, 163, 255));
    }

    @keyframes fadeinBtn{
        from {opacity: 0;}
        to {opacity: 1;}
    }

    #jumpTopBtn:hover{
        background-image: linear-gradient(rgb(255, 53, 137),rgb(34, 67, 255));
    }

    #jumpTopBtn:active{
        transform: translateY(4px);
        box-shadow: 0 2px #444;
    }
