html{
    scroll-behavior: smooth;
}

header{
    background-image: url('../images/home_header.png');
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}