*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url('../images/login_img.png') no-repeat center fixed;
    background-size: cover;  
}

.login_box{
    margin: 100px auto;
    padding: 0;  
    background-color: rgba(40, 36, 49,0.9);
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgba(40, 36, 49,1);
    border: none;
    outline: none;
}

.avatar_holder{
    margin: auto; 
    object-fit: cover;
    display: block;
    height: 250px;
    width: 250px;
    margin-top: 100px;
}

.login_box input{
    margin: 20px auto;
    padding: 20px;
}

.login_box button, a{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

